.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;
}

.header .left,
.header .right,
.header .center {
  display: flex;
  align-items: center;
}

.header .icon {
  margin-right: 10px;
}

.header .center input {
  margin: 0 auto;
  display: block;
}

.header .right a {
  margin-left: 20px;
}
